html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.margin-button {
  float: right;
  margin-left: 10px !important;
}

.table-button-container {
  display: flex;
  justify-content: center;
}

.table-button-container button {
  margin: 5px;
}

.header-button-container {
  contain: content;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.form-modal-field {
  width: 300px;
  margin: 10px !important;
}

.form-modal-button-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.pagination-container {
  margin: 20px;
}

.pagination-container ul {
  justify-content: center;
}

.term-of-use-container {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 30px;
}
